# packages in environment at /home/dennis00/anaconda3/envs/scRNA-GAN-TF:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
_openmp_mutex             5.1                       1_gnu  
absl-py                   1.0.0                    pypi_0    pypi
accelerate                0.10.0                   pypi_0    pypi
annotated-types           0.7.0                    pypi_0    pypi
anyio                     3.7.1                    pypi_0    pypi
argcomplete               2.0.0                    pypi_0    pypi
argon2-cffi               21.1.0                   pypi_0    pypi
astor                     0.8.1                    pypi_0    pypi
attrs                     24.3.0                   pypi_0    pypi
autograd                  1.3                      pypi_0    pypi
autograd-gamma            0.5.0                    pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
beautifulsoup4            4.12.3                   pypi_0    pypi
bitsandbytes-cuda111      0.26.0.post2             pypi_0    pypi
blas                      1.0                         mkl  
bleach                    4.1.0                    pypi_0    pypi
brotli-python             1.0.9           py312h6a678d5_8  
bzip2                     1.0.8                h5eee18b_6  
ca-certificates           2024.11.26           h06a4308_0  
cachetools                4.2.4                    pypi_0    pypi
certifi                   2024.12.14      py312h06a4308_0  
cffi                      1.15.0                   pypi_0    pypi
charset-normalizer        2.0.7                    pypi_0    pypi
click                     8.1.3                    pypi_0    pypi
comm                      0.2.2                    pypi_0    pypi
cuda-cudart               12.1.105                      0    nvidia
cuda-cupti                12.1.105                      0    nvidia
cuda-libraries            12.1.0                        0    nvidia
cuda-nvrtc                12.1.105                      0    nvidia
cuda-nvtx                 12.1.105                      0    nvidia
cuda-opencl               12.6.77                       0    nvidia
cuda-runtime              12.1.0                        0    nvidia
cuda-version              12.6                          3    nvidia
cycler                    0.11.0                   pypi_0    pypi
debugpy                   1.5.1                    pypi_0    pypi
decorator                 5.1.0                    pypi_0    pypi
deepspeed                 0.6.5                    pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
distlib                   0.3.4                    pypi_0    pypi
docker-pycreds            0.4.0                    pypi_0    pypi
einops                    0.4.1                    pypi_0    pypi
einops-exts               0.0.3                    pypi_0    pypi
entrypoints               0.3                      pypi_0    pypi
expat                     2.6.4                h6a678d5_0  
fastjsonschema            2.21.1                   pypi_0    pypi
ffmpeg                    4.3                  hf484d3e_0    pytorch
filelock                  3.6.0                    pypi_0    pypi
fonttools                 4.28.2                   pypi_0    pypi
formulaic                 0.3.2                    pypi_0    pypi
freetype                  2.12.1               h4a9f257_0  
fsspec                    2024.12.0                pypi_0    pypi
future                    1.0.0                    pypi_0    pypi
giflib                    5.2.2                h5eee18b_0  
gitdb                     4.0.12                   pypi_0    pypi
gitpython                 3.1.44                   pypi_0    pypi
gmp                       6.2.1                h295c915_3  
gnutls                    3.6.15               he1e5248_0  
google-auth               2.37.0                   pypi_0    pypi
google-auth-oauthlib      0.4.6                    pypi_0    pypi
grpcio                    1.69.0                   pypi_0    pypi
hjson                     3.1.0                    pypi_0    pypi
huggingface-hub           0.27.0                   pypi_0    pypi
idna                      3.3                      pypi_0    pypi
imageio                   2.36.1                   pypi_0    pypi
imbalanced-learn          0.9.0                    pypi_0    pypi
importlib-metadata        4.8.2                    pypi_0    pypi
intel-openmp              2023.1.0         hdb19cb5_46306  
interface-meta            1.2.4                    pypi_0    pypi
ipykernel                 6.5.1                    pypi_0    pypi
ipython                   7.29.0                   pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
ipywidgets                7.8.5                    pypi_0    pypi
jedi                      0.19.2                   pypi_0    pypi
jinja2                    3.1.4           py312h06a4308_1  
joblib                    1.4.2                    pypi_0    pypi
jpeg                      9e                   h5eee18b_3  
jsonschema                4.23.0                   pypi_0    pypi
jsonschema-specifications 2024.10.1                pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-client            7.1.0                    pypi_0    pypi
jupyter-console           6.4.0                    pypi_0    pypi
jupyter-core              5.7.2                    pypi_0    pypi
jupyter-server            1.23.4                   pypi_0    pypi
jupyterlab-pygments       0.1.2                    pypi_0    pypi
jupyterlab-widgets        1.0.2                    pypi_0    pypi
kaggle                    1.5.12                   pypi_0    pypi
kiwisolver                1.3.2                    pypi_0    pypi
kornia                    0.6.4                    pypi_0    pypi
lame                      3.100                h7b6447c_0  
lazy-loader               0.4                      pypi_0    pypi
lcms2                     2.16                 hb9589c4_0  
ld_impl_linux-64          2.40                 h12ee557_0  
lerc                      4.0.0                h6a678d5_0  
libcublas                 12.1.0.26                     0    nvidia
libcufft                  11.0.2.4                      0    nvidia
libcufile                 1.11.1.6                      0    nvidia
libcurand                 10.3.7.77                     0    nvidia
libcusolver               11.4.4.55                     0    nvidia
libcusparse               12.0.2.55                     0    nvidia
libdeflate                1.22                 h5eee18b_0  
libffi                    3.4.4                h6a678d5_1  
libgcc-ng                 11.2.0               h1234567_1  
libgomp                   11.2.0               h1234567_1  
libiconv                  1.16                 h5eee18b_3  
libidn2                   2.3.4                h5eee18b_0  
libjpeg-turbo             2.0.0                h9bf148f_0    pytorch
libnpp                    12.0.2.50                     0    nvidia
libnvjitlink              12.1.105                      0    nvidia
libnvjpeg                 12.1.1.14                     0    nvidia
libpng                    1.6.39               h5eee18b_0  
libstdcxx-ng              11.2.0               h1234567_1  
libtasn1                  4.19.0               h5eee18b_0  
libtiff                   4.5.1                hffd6297_1  
libunistring              0.9.10               h27cfd23_0  
libuuid                   1.41.5               h5eee18b_0  
libwebp                   1.3.2                h11a3e52_0  
libwebp-base              1.3.2                h5eee18b_1  
lifelines                 0.27.0                   pypi_0    pypi
llvm-openmp               14.0.6               h9e868ea_0  
llvmlite                  0.43.0                   pypi_0    pypi
lmdb                      1.3.0                    pypi_0    pypi
lz4-c                     1.9.4                h6a678d5_1  
markdown                  3.3.6                    pypi_0    pypi
markupsafe                3.0.2                    pypi_0    pypi
matplotlib                3.5.0                    pypi_0    pypi
matplotlib-inline         0.1.3                    pypi_0    pypi
mistune                   3.1.0                    pypi_0    pypi
mkl                       2023.1.0         h213fc3f_46344  
mkl-service               2.4.0           py312h5eee18b_1  
mkl_fft                   1.3.11          py312h5eee18b_0  
mkl_random                1.2.8           py312h526ad5a_0  
mpmath                    1.3.0           py312h06a4308_0  
nbclassic                 1.1.0                    pypi_0    pypi
nbclient                  0.7.0                    pypi_0    pypi
nbconvert                 7.16.5                   pypi_0    pypi
nbformat                  5.10.4                   pypi_0    pypi
ncurses                   6.4                  h6a678d5_0  
nest-asyncio              1.5.1                    pypi_0    pypi
nettle                    3.7.3                hbbd107a_1  
networkx                  3.4.2                    pypi_0    pypi
ninja                     1.10.2.3                 pypi_0    pypi
nonechucks                0.4.2                    pypi_0    pypi
notebook                  6.4.6                    pypi_0    pypi
notebook-shim             0.2.4                    pypi_0    pypi
numba                     0.60.0                   pypi_0    pypi
numpy                     2.0.2                    pypi_0    pypi
oauthlib                  3.2.2                    pypi_0    pypi
openh264                  2.1.1                h4ff587b_0  
openjpeg                  2.5.2                he7f1fd0_0  
openssl                   3.0.15               h5eee18b_0  
packaging                 24.2                     pypi_0    pypi
pandas                    2.2.3                    pypi_0    pypi
pandocfilters             1.5.1                    pypi_0    pypi
parso                     0.8.4                    pypi_0    pypi
pexpect                   4.9.0                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    11.0.0          py312hcea889d_1  
pip                       24.2            py312h06a4308_0  
platformdirs              2.6.2                    pypi_0    pypi
prometheus-client         0.21.1                   pypi_0    pypi
prompt-toolkit            3.0.48                   pypi_0    pypi
protobuf                  5.29.2                   pypi_0    pypi
psutil                    6.1.1                    pypi_0    pypi
ptyprocess                0.7.0                    pypi_0    pypi
py-cpuinfo                9.0.0                    pypi_0    pypi
pyasn1                    0.6.1                    pypi_0    pypi
pyasn1-modules            0.4.1                    pypi_0    pypi
pycparser                 2.22                     pypi_0    pypi
pydantic                  2.10.4                   pypi_0    pypi
pydantic-core             2.27.2                   pypi_0    pypi
pygments                  2.18.0                   pypi_0    pypi
pynndescent               0.5.13                   pypi_0    pypi
pyparsing                 3.2.1                    pypi_0    pypi
pysocks                   1.7.1           py312h06a4308_0  
python                    3.12.8               h5148396_0  
python-dateutil           2.9.0.post0              pypi_0    pypi
python-slugify            8.0.4                    pypi_0    pypi
pytorch                   2.5.1           py3.12_cuda12.1_cudnn9.1.0_0    pytorch
pytorch-cuda              12.1                 ha16c6d3_6    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2024.2                   pypi_0    pypi
pyyaml                    6.0.2           py312h5eee18b_0  
pyzmq                     26.2.0                   pypi_0    pypi
qtconsole                 5.6.1                    pypi_0    pypi
qtpy                      2.4.2                    pypi_0    pypi
readline                  8.2                  h5eee18b_0  
referencing               0.35.1                   pypi_0    pypi
regex                     2024.11.6                pypi_0    pypi
requests                  2.32.3          py312h06a4308_1  
requests-oauthlib         2.0.0                    pypi_0    pypi
rpds-py                   0.22.3                   pypi_0    pypi
rsa                       4.9                      pypi_0    pypi
safetensors               0.5.0                    pypi_0    pypi
scikit-image              0.25.0                   pypi_0    pypi
scikit-learn              1.6.0                    pypi_0    pypi
scipy                     1.15.0                   pypi_0    pypi
send2trash                1.8.3                    pypi_0    pypi
sentry-sdk                2.19.2                   pypi_0    pypi
setproctitle              1.3.4                    pypi_0    pypi
setuptools                72.1.0          py312h06a4308_0  
six                       1.17.0                   pypi_0    pypi
smmap                     5.0.0                    pypi_0    pypi
sniffio                   1.3.1                    pypi_0    pypi
soupsieve                 2.6                      pypi_0    pypi
spacecutter               0.2.0                    pypi_0    pypi
sqlite                    3.45.3               h5eee18b_0  
sympy                     1.13.1                   pypi_0    pypi
tbb                       2021.8.0             hdb19cb5_0  
tensorboard               2.7.0                    pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.0                    pypi_0    pypi
tensorboardx              2.4                      pypi_0    pypi
terminado                 0.12.1                   pypi_0    pypi
testpath                  0.5.0                    pypi_0    pypi
text-unidecode            1.3                      pypi_0    pypi
threadpoolctl             3.5.0                    pypi_0    pypi
tifffile                  2024.12.12               pypi_0    pypi
tk                        8.6.14               h39e8969_0  
tokenizers                0.21.0                   pypi_0    pypi
tomli                     1.2.2                    pypi_0    pypi
torchaudio                2.5.1               py312_cu121    pytorch
torchgan                  0.1.0                    pypi_0    pypi
torchtriton               3.1.0                     py312    pytorch
torchvision               0.20.1              py312_cu121    pytorch
tornado                   6.4.2                    pypi_0    pypi
tqdm                      4.67.1                   pypi_0    pypi
traitlets                 5.14.3                   pypi_0    pypi
transformers              4.47.1                   pypi_0    pypi
ttach                     0.0.3                    pypi_0    pypi
typing_extensions         4.12.2          py312h06a4308_0  
tzdata                    2024.2                   pypi_0    pypi
umap-learn                0.5.2                    pypi_0    pypi
urllib3                   2.3.0                    pypi_0    pypi
userpath                  1.8.0                    pypi_0    pypi
virtualenv                20.14.1                  pypi_0    pypi
wandb                     0.19.1                   pypi_0    pypi
warmup-scheduler          0.3                      pypi_0    pypi
wcwidth                   0.2.5                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
websocket-client          1.8.0                    pypi_0    pypi
werkzeug                  2.0.2                    pypi_0    pypi
wget                      3.2                      pypi_0    pypi
wheel                     0.44.0          py312h06a4308_0  
widgetsnbextension        3.5.2                    pypi_0    pypi
wrapt                     1.14.0                   pypi_0    pypi
xz                        5.4.6                h5eee18b_1  
yaml                      0.2.5                h7b6447c_0  
zipp                      3.6.0                    pypi_0    pypi
zlib                      1.2.13               h5eee18b_1  
zstd                      1.5.6                hc292b87_0  
